{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.3"]
                [nrepl "0.8.3"]
                [reagent "1.1.0"]]
 :builds {:app {:target :node-script
                :output-to "script.js"
                :main clj-list-selector.core/main
                }}}
